[submodule "foundry-f23/UniswapV2SwapAmounts/lib/forge-std"]
	path = foundry-f23/UniswapV2SwapAmounts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/foundry-account-abstraction/lib/account-abstraction"]
	path = foundry-f23/foundry-account-abstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "foundry-f23/foundry-account-abstraction/lib/openzeppelin-contracts"]
	path = foundry-f23/foundry-account-abstraction/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-f23/foundry-account-abstraction/lib/forge-std"]
	path = foundry-f23/foundry-account-abstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/foundry-account-abstraction/lib/foundry-era-contracts"]
	path = foundry-f23/foundry-account-abstraction/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
